<header>
  <h1>Log In</h1>
</header>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
<form id="loginForm">
  <label for="email">Email</label>
  <input name="email" id="email" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <button id="loginButton"
          type="button"
          value="Log In"
          hx-on:click="sendAuth()">
    Log In
    <img id="spinner" class="htmx-indicator" height="10px" src="{{ url_for('static', filename='bars.svg') }}"/>
  </button>
  {% include 'firebase.js' %}
</form>

{# Out of Band (OOB) Swap for page title #}
<title class="blog_title" hx-swap-oob="outerHTML:.blog_title">Log In - HTMX Blog</title>