<header>
  <h1>Log In</h1>
</header>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
<form id="loginForm">
  <label for="email">Email</label>
  <input name="email" id="email" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <input type="button"
         value="Log In"
         hx-on:click="sendAuth()"
         hx-disabled-elt="this">
  {% include 'firebase.js' %}
</form>

{# Out of Band (OOB) Swap for page title #}
<title class="blog_title" hx-swap-oob="outerHTML:.blog_title">Log In - HTMX Blog</title>